body {
  /*border: 1px solid purple;*/
  background-color: green;
}

/** {
  border: 2px dashed red;
}*/

.players {
  display: inline-block;
  /*background-color: white;*/
  margin-top: 20px;
  width: 100%;
  /*box-sizing: border-box;*/
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
}

img {
  margin-top: 20px;
}

#deck {
  height: 300px;
  width: 300px;
  display: inline-block;
  float: left;
  margin-left: 35%;
  text-align: center;
  border: 1px solid black;
  background-color: red;
  box-sizing: border-box;
}

#deck img {
  margin-top: 25px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.buttons {
  float: right;
}

#player {
  height: 320px;
  width: 300px;
  text-align: center;
  background-color: yellow;
  float: right;
  margin:auto;
  /*margin-left: 325px;*/
  /*display: flex;*/
}

#dealer {
  height: 320px;
  width: 300px;
  text-align: center;
  background-color: blue;
  float: right;
  margin-right: 30px;
  /*display: flex;*/
}

#summary {
  border: 1px solid black;
  height: 300px;
  width: 275px;
  text-align:left;
  background-color: lightgray;
  float: right;
  margin-right: 22px;
  padding-left: 10px;
  color: blue;
}

img {
  margin-top: 25px;
  animation-name: card;
  animation-duration: 1s;
  transition-timing-function: ease-out;
  margin: 2px;
}

br {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  content: " ";
  font-size: 10px;
}

@keyframes card {
  0% {transform: rotate(1440deg) scale(0)};
  100% {transform: rotate(0 deg) scale(1)};
}

input {
  height: 30px;
  text-align: center;
}

button {
  height: 30px;
  width: auto;
  border-radius: 25px;

}
