body {
  /*border: 1px solid purple;*/
  background-color: green;
}

/** {
  border: 2px dashed red;
}*/

.players {
  display: inline-block;
  /*background-color: white;*/
  margin-top: 20px;
  width: 100%;
  /*box-sizing: border-box;*/
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
}

img {
  margin-top: 20px;
}

#deck {
  height: 300px;
  width: 300px;
  display: inline-block;
  float: left;
  margin-left: 35%;
  text-align: center;
  border: 1px solid black;
  background-color: red;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.buttons {
  float: right;
}

#player {
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: yellow;
  float: right;
  margin:auto;
  /*margin-left: 325px;*/
}

#dealer {
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: blue;
  float: left;
  /*margin-left: 0;*/
}

#summary {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  text-align: center;
  background-color: lightgray;
  float: right;
  margin-right: 75px;

}

img {
  margin-top: 25px;
}
